@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --sidebar-bg-light: #fff;
  --sidebar-text-light: #000;
  --link-bg-light: #fff;
  --active-link-light: rgb(0 109 145);

  --sidebar-bg-dark: rgb(35 39 47 /1); /* Dark grey-blue */
  --sidebar-text-dark: white;
  --link-bg-dark: rgb(35 39 47 /1);
  --active-link-dark: rgba(59, 130, 246, 0.5);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    /* Dark theme colors for sidebar */
    --sidebar-bg-light: #2d3a44;
    --sidebar-text-light: white;
    --link-bg-light: #3a4851;
    --active-link-light: #61dafb;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Arial", sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Sidebar styles */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: var(--sidebar-bg-light); /* Default light theme */
  color: var(--sidebar-text-light); /* Default light theme text color */
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 2px 0px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Dark mode sidebar overrides */
body.dark .sidebar {
  background-color: var(--sidebar-bg-dark); /* Dark theme sidebar */
  color: var(--sidebar-text-dark); /* Dark theme text */
}

.sidebar .logoContainer {
  margin-bottom: 40px;
  text-align: center;
}

.sidebar .logoText {
  color: var(--sidebar-text-light); /* Default light theme logo text */
  font-size: 1.75rem;
  margin: 0;
  font-weight: 700;
}

/* Sidebar menu styles */
.sidebar .menuList {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
}

.sidebar .menuItem {
  margin-bottom: 15px;
}

.sidebar .link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: block;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background 0.3s ease, color 0.3s ease;
  background-color: var(
    --link-bg-light
  ); /* Default light theme link background */
  margin: 0 -15px;
}

.sidebar .link:hover {
  background-color: rgb(246 247 249 / 1);
}

.sidebar .link.active {
  background-color: rgb(230 247 255 / 1);
  color: var(--active-link-light);
}

/* Dark mode sidebar overrides */
body.dark .sidebar .link {
  background-color: var(--link-bg-dark); /* Dark theme link background */
}

body.dark .sidebar .link:hover {
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem;
  color: rgb(235 236 240 / 1);
  background-color: rgb(52 58 70 / 1);
}

body.dark .sidebar .link.active {
  color: rgb(88 196 220 / 1);
  border-start-end-radius: 1rem;
  border-end-end-radius: 1rem;
  background-color: rgba(88, 175, 223, 0.1);
}

/* Light Theme */
.light {
  background-color: #ffffff;
  color: #000000;
}

.light header {
  background-color: #ffffff;
  color: #000000;
}

.light footer {
  background-color: #ffffff;
  color: #000000;
}

/* Dark Theme */
.dark {
  background-color: rgb(35 39 47 /1);
  color: #ffffff;
}

.dark header {
  background-color: rgb(35 39 47 /1);
  color: #ffffff;
}

.dark footer {
  background-color: rgb(35 39 47 /1);
  color: #ffffff;
}

.content {
  display: flex;
  flex-grow: 1;
  padding: 0px 20px;
  margin-left: 240px; 
}

.searchbar {
  background-color: rgba(120, 131, 155, 0.2);
  outline: 2px solid transparent;
  color: rgb(153 161 179 / 1);
  font-size: 15px;
  padding-inline-start: 1rem;
  padding-inline-end: 0.25rem;
  padding-top: 0.25rem;
  border-radius: 9999px;
  padding-bottom: 0.25rem;
  width: 100%;
  height: 3rem;
  padding-left: 2.4rem;
}
body.dark .searchbar {
  color: #fff;
}
/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 58, 70, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Content Box */
.modal-content {
  background-color: var(--background); /* Adjust background based on theme */
  color: var(--foreground); /* Adjust text color based on theme */
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  height: 100vh;
  max-height: 90%;
  overflow-y: auto;
  position: relative;
  transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

/* Dark mode modal overrides */
body.dark .modal-content {
  background-color: rgb(35 39 47 / 1); /* Dark theme background */
  color: #ededed; /* Light text color for dark theme */
}

/* Close Button */
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: var(--foreground); /* Text color based on theme */
}

/* Dark mode close button */
body.dark .modal-close {
  color: var(--foreground); /* Light color for close button in dark theme */
}

.search_list {
  margin-left: -20px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding-bottom: 4px;
  height: 3rem;
  position: relative;
  border-start-end-radius: 0.5rem;
  border-end-end-radius: 0.5rem;
  border-start-start-radius: 0;
  border-end-start-radius: 0;
  padding-inline-start: 1.25rem;
  scroll-margin-top: 40px;
}

.search_list:hover {
  background-color: #149eca;
  color: #fff;
}
.search_list:hover a {
  color: #fff;
}
body.dark .search_list a {
  color: #fff;
}

/* Default styling (for larger screens) */
.content {
  display: flex;
  flex-grow: 1;
  padding: 0 20px;
  margin-left: 240px; /* Sidebar width for desktop */
}

/* Mobile and tablet responsive styles */
@media (max-width: 1024px) { /* Target devices with width 1024px or less (tablets) */
  .content {
    margin-left: 0; /* Remove left margin on smaller screens */
  }
}
/* Default header styling for larger screens (desktop) */
header {
  background: #282c34;
  padding: 10px;
  color: #fff;
  display: grid;
  align-items: center;
  grid-template-columns: 220px 1fr; /* Sidebar and content side by side */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transition: box-shadow 0.3s, top 0.3s;
  padding-left: 1rem;
  padding-right: 2rem;
}

/* Mobile and Tablet styles for screens smaller than 1024px */
@media (max-width: 1024px) {
  header {
    grid-template-columns: 1fr; /* Stack header items vertically on smaller screens */
    padding-left: 1rem; /* Adjust padding */
    padding-right: 1rem; /* Adjust padding */
  }

  /* Update .grid_header for mobile */
  .grid_header {
    width: 100vw; /* Make header take full width of the viewport */
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space items to the left and right */
    align-items: center; /* Align items vertically in the center */
    gap: 10px; /* Space out the items slightly */
  }
}

/* Specific styles for mobile with 432x932 resolution */
@media (max-width: 432px) {
  header {
    padding: 8px 10px; /* Adjust padding for smaller screens */
  }

  .grid_header {
    display: flex!important;
    justify-content: space-between; /* Ensure logo and other items are spaced out */
    align-items: center;
    width: 100%; /* Ensure the grid takes full width */
    gap: 8px; /* Slightly reduce the gap for smaller screen */
  }

  /* Logo styling */
  .logoText {
    font-size: 18px; /* Reduce font size for small screens */
  }

  /* SearchBox and theme toggle adjustments */
  .searchBox,
  .theme-toggle-button {
    font-size: 14px; /* Adjust font size for small buttons/icons */
    padding: 6px; /* Reduce padding for small buttons */
  }
}


/* Default SearchBox styling for larger screens */
.searchBox {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative; /* Ensure positioning for the icon and input */
}

/* For mobile screens, hide the text input and only show the icon */
@media (max-width: 1024px) {
  .searchBox .search-input {
    display: none; /* Hide the input field on mobile */
  }

  .searchBox .search-icon {
    display: block; /* Show the search icon on mobile */
    font-size: 24px; /* Adjust icon size */
    cursor: pointer; /* Change the cursor to indicate clickability */
  }

  /* When the search box is focused, show the input field */
  .searchBox:focus-within .search-input {
    display: block; /* Show the input field when focused */
    width: 200px; /* Adjust width as needed */
    font-size: 16px; /* Adjust font size */
  }

  .searchBox:focus-within .search-icon {
    display: none; /* Hide the search icon when input is focused */
  }
}

/* Default styles for the search input and icon */
.searchBox .search-input {
  font-size: 16px;
  padding: 5px;
  width: 200px; /* Adjust width */
  border: 1px solid #ccc;
  border-radius: 5px;
  display: none; /* Hidden by default on mobile */
}

.searchBox .search-icon {
  display: none; 
}
.searchBox .search-icon {
  display: none; 
  font-size: 24px; 
}

/* Sidebar styles */
.sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Initially hidden */
  width: 250px;
  height: 100vh;
  background-color: var(--sidebar-bg-light);
  transition: left 0.3s ease;
  box-shadow: 2px 0 15px rgba(0, 0, 0, 0.1);
}

.sidebar.open {
  left: 0; /* Show the sidebar */
}

@media (max-width: 1024px) {
  .sidebar {
    width: 100%; /* Sidebar takes up more screen on smaller devices */
  }
  
  .sidebar.open {
    left: 0;
  }
  
  .sidebar.hidden {
    left: -100%; /* Hide sidebar when closed */
  }
}
